<div class="container-fluid">
	<div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
		<div class="col-lg-4">
			<a href="{{path('app_catalogue')}}" class="text-decoration-none">
				<span class="h1 text-uppercase text-primary bg-dark px-2">Keyboard</span>
				<span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Shop</span>
			</a>
		</div>
		<div class="col-lg-5 col-5 text-left">
			<form class="d-flex nav-item m-auto" method="POST" action="{{ app.request.uri }}">
				<div class="input-group">
					<div class="input-group-append">
						<input name="search_field" class="form-control" type="search" placeholder="Chercher un produit">
						<button type="submit" class="btn">
							<span class="bg-transparent text-primary">
								<i class="fa fa-search"></i>
							</span>
						</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-lg-3 col-6 text-right">
			{% if app.user == null %}
				<a href="{{ path("app_connection") }}" class="connecterTopBar">
					<img src="/img/user.png" width="40px" height="40px" alt="user" class="rounded-circle">
					<span class="text-dark ml-2">Se Connecter</span>
				</a>
			{% else %}
				<a href="{{ path("app_deconnection") }}" class="connecterTopBar">
					<img src="https://ui-avatars.com/api/?name={{ app.user.prenom }}+{{ app.user.nom }}&rounded=true&background=random" width=" 40px" height=" 40px" alt=" user">
					<i class="text-dark ml-2">Bonjour
						{{ app.user.prenom }}</i>
					<span class="text-dark ml-2">Se Déconnecter</span>
				</a>
			{% endif %}
		</div>
	</div>
</div>
