<div class="col-lg-4 col-md-6 col-sm-6 pb-1">
	<div class="product-item bg-light mb-4">
		<div class="product-img position-relative overflow-hidden">
			<img class="img-fluid w-100" src="{{asset_if(produit.imagePath, 'img/non-disponible.jpg')}}" alt="">
			<form class="product-action">
				<a class="btn btn-outline-dark btn-square" name="ajoutProduit" href="{{path('ajout_produit', {idProduit: produit.idProduit})}}">
					<i class="fa fa-shopping-cart">
					</i>
				</a>
				<a class="btn btn-outline-dark btn-square" href="">
					<i class="far fa-heart"></i>
				</a>
			</form>
		</div>
		<div class="text-center py-4">
			<a class="h6 text-decoration-none text-truncate produit-modal" href="{{path('produit_modal', {idProduit: produit.idProduit})}}">{{produit.name}}</a>
			<div class="d-flex align-items-center justify-content-center mt-2">
				<h5>{{produit.price}} $</h5>
			</div>
			<div class="d-flex align-items-center justify-content-center mb-1">
				<small class="fa fa-star text-primary mr-1"></small>
				<small class="fa fa-star text-primary mr-1"></small>
				<small class="fa fa-star text-primary mr-1"></small>
				<small class="fa fa-star text-primary mr-1"></small>
				<small class="fa fa-star text-primary mr-1"></small>
				<small>{{produit.quantityInStock}}</small>
			</div>
		</div>
	</div>
</div>
