<div class="modal-body">
	<div
		class="container-fluid">
		<!--Global row-->
		<div
			class="row">
			<!--Image col-->
			<div class="col-6">
				<img class="img-fluid w-100" src="{{asset_if(produit.imagePath, 'img/non-disponible.jpg')}}" alt="">
			</div>
			<!--Content modal-->
			<div class="col-6">
				<div class="row">
					<div class="col-md-12 bg-light text-right">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
				<div class="row">
					<div class="mt-4 mb-4">
						<h3>
							{{produit.name}}
							-
							{{ produit.idCategorie.categorie }}
						</h3>
					</div>
					<div>
						<p class="">{{ produit.description }}</p>
					</div>
					<div class="row">
						<p class="col-6">
							Quantité restante: {{ produit.quantityInStock }}
						</p>
						<p class="col-6">
							Prix: {{ produit.price }} $CAN
						</p>
					</div>
				</div>
			</div>
			<!--Fin du main Content modal-->
		</div>
	</div>
</div>
